.brands {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.container-2{
  margin-top: -50px;
}

.brands::before {
  content: url('../public/assets/bg-radiol.png');
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.brands .arrow-h2 {
  margin-top: -100px;
  font-size: 90px;
  font-weight: 400;
  color: #00f3f4;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.stoke-h1 {
  font-size: 180px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-text-stroke: 3px rgba(213, 255, 64, 0.3);
  -webkit-text-fill-color: transparent;
}

.brands .arrow-h2 img.arrow {
  width: 65px;
  margin-left: 35px;
}
.description {
  margin-top: 1em;
  font-size: 24px;
  line-height: 1.5em;
  color: #fff;
  font-weight: 500;
  margin-bottom: 50px;
}

.processCards {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 10em;
}
.processCards .card {
  flex: 1 1 22%;
  background-color: #171717;
  border-radius: 21px;
  min-height: 280px;
  padding: 20px 20px 30px 20px;
}
.processCards .card img {
  width: 60px;
  margin-bottom: 20px;
}
.processCards .card h3 {
  color: #00f3f4;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: 'Monument Extended Regular';
}
.processCards .card p {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}