/* Conunter */
.counter .minContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }
  .counter {
    padding: 120px 0 55px 0;
  }
  
  .counter .minContainer .counterItem {
    flex: 1 1 25%;
  }
  .minContainer {
    max-width: 60%;
    margin: 0 auto;
  }
  .counter .counterItem h3 {
    font-size: 44px;
    font-weight: 500;
    color: #9add3a;
    margin-bottom: 10px;
    font-family: 'Monument Extended Regular';
  }
  .counter .counterItem h5 {
    font-size: 28px;
    color: #fff;
    font-family: 'Monument Extended Regular';
  }