.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.main-heading h1 {
  text-transform: uppercase;
  font-size: 70px;
  color: #00f3f4;
  font-family: 'Monument Extended Regular';
}
.main-heading-image{
  margin-left: 20px;
}
@media screen and (max-width: 1280px){
  .main-heading h1 {
    font-size: 3.5em;
  }
  /* .main-heading-image img{
    width: 50%;
  } */
}
/* @media screen and (max-width: 800px){
   .main-heading-image img{
    width: ;
  }
} */