.designSolution {
 background-image: url('../public/assets/bg-solutions.png');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 padding: 100px 0 100px 0;
}
.container {
 max-width: 85%;
 margin: auto;
 margin-top: -50px;
}
.content {
 gap: 6em;
 margin-top: 7em;
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-family: 'Monument Extended Regular';
}
.content div {
 flex: 1 1 50%;
}
.content_list ul li {
 list-style: none;
 font-size: 32px;
 font-weight: 400;
 color: #00f3f4;
 margin-bottom: 45px;
 text-transform: uppercase;
}

.content h2 {
 text-transform: uppercase;
 font-size: 42px;
 font-weight: 400;
 color: #9add3a;
 line-height: 80px;
}
@media screen and (max-width: 1280px) {
 .content h2 {
  font-size: 2em;
 }
 .content_list ul li {
 font-size: 1.5em;
 }
 .container {
 max-width: 96%;
 }
}
@media screen and (max-width: 800px) {
 .content {
 margin-top: 3em;
 gap: 10px;
 }
 .content h2 {
  font-size: 1.5em;
 }
 .content_list ul li {
 font-size: 1em;
 }
}
@media screen and (max-width: 600px) {
 .content {
  margin-top: 2em;
 }
 .content {
 display: flex;
 flex-direction: column;
 }
 .content h2 {
  line-height: 40px;
 }
 .content_list ul li {
 margin-bottom: 20px;
 }
 .content div {
 width: 100%;
 }
}