
.empowering {
 background-image: url("../public/assets/empowering-bg.png");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 /* min-height: 1030px; */
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 8em 0;
}
.empowering_wrapper{
  width: 100%;
  max-width: 85%;
}
.empowering .mincontainer {
 max-width: 60%;
 margin: 0 auto;
}
.empowering .arrow-h2 {
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 margin-top: -150px;
 font-size: 90px;
 font-weight: 400;
 color: #00f3f4;
 text-transform: uppercase;
 margin-bottom: 25px;
}
.empowering .arrow-h2 img.arrow {
 width: 65px;
}

.content_1 h1 {
 margin-top: 50px;
 font-size: 32px;
 font-weight: 400;
 color: #9add3a;
 text-transform: uppercase;
 line-height: 42px;
 text-align: center;
 font-family: "Monument Extended Regular";
}
.content_2 p {
 margin-top: 30px;
 font-size: 24px;
 font-weight: 400;
 color: #ffffff;
 line-height: 30px;
 text-align: center;
}

@media (max-width: 1048px) {
  .empowering_wrapper{
    width: 100%;
    max-width: 96%;
  }
}
@media (max-width: 800px) {
  .empowering_content{
    margin-top: -20px !important;
  }
   .empowering {
       padding: 3em 0;
     }
 .empowering .mincontainer {
   max-width: 96%;
   margin: 0 auto;
 }
 .content_1 h1 {
   margin-top: 1em;
   font-size: 1.4em;
   line-height: 1.4em;
 }
 .content_2 p {
   margin-top: 1em;
   font-size: 1.2em;
   line-height: 1.4em;
 }
}
@media (max-width: 1200px) {
   .empowering {
       padding: 5em 0;
     }
 
 .content_1 h1 {
   margin-top: 1em;
   font-size: 1.2em;
   line-height: 1.4em;
 }
 .content_2 p {
   margin-top: 1em;
   font-size: 1em;
   line-height: 1.3em;
 }
}
