.colorGreen {
  color: #9add3a;
  font-family: 'Monument Extended Regular';
  text-transform: uppercase;
}
.colorGreen span {
  color: #00f3f4;
}

.hero {
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 85%;
}
.hero .container > div {
  flex: 1 1 40%;
}
.hero .heroContent h1 {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 2rem;
}
.hero .heroContent p {
  font-size: 24px;
  line-height: 1.5em;
  color: #fff;
  font-weight: 500;
  margin-bottom: 50px;
}

.container {
  max-width: 85%;
}
.videoPlayReel {
  min-height: 450px;
  background-image: url('../public/assets/Banner_new.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.contactus_videoPlay {
  min-height: 450px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.contactus_videoPlay video {
  width: 100%;
}
.heroReel {
  position: absolute;
  top: 50%;
  left: 50%;
}
.playReel {
  transform: translate(-50%, -50%);
  font-size: 14x;
  color: #9add3a;
  width: 170px;
  height: 170px;
  border: 5px solid #9add3a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  text-decoration: none;
}
.playReel h2 {
  font-size: 16px;
  letter-spacing: 1.5px;
  font-family: Monument Extended Regular;
}
.playReel h2 span {
  color: #00f3f4;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 75%;
  padding: 50px;
  border: 2px solid #9add3a;
  border-radius: 30px !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal_close {
  display: flex;
  align-items: center;
  justify-content: right;
}
.Video {
  width: 100%;
}
.Video video {
  width: 100%;
  margin-top: 1em;
  border-radius: 20px !important;
}
.videoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 5s ease !important;
}
.videoModal {
  transition: all 5s ease !important;
  width: 75%;
  padding: 50px;
  border: 2px solid #9add3a;
  border-radius: 40px !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1048px) {
.container{
  max-width: 96% !important;
}
}
@media (max-width: 768px) {
  .modal_close img {
    width: 30px;
  }
  .videoModal {
    width: 90%;
    padding: 10px;
  }
  .modal_close img {
    width: 6%;
  }
}
/* @media (max-width: 600px) {
  .hero {
    min-height: 500px;
  }
  .hero_contact {
    min-height: 450px !important;
  }
} */
@media (max-width: 425px) {
  .hero .heroContent h1 {
    font-size: 1.4em !important;
    margin-bottom: 0.6rem;
  }
  .hero .heroContent p {
    font-size: 1em !important;
    line-height: 1.2em;
    margin-bottom: 1em;
  }
  .hero .heroContent {
    /* height: 350px !important; */
  }
  .modal_close img {
    width: 8%;
  }
}
@media (max-width: 800px) {
  .contactus_videoPlay {
    display: none;
  }
  .hero {
    margin-bottom: 3em;
  }
  .videoPlayReel {
    min-height: 0px !important;
  }
  .heroReel {
    margin-top: 0em;
    position: relative;
    top: unset;
    left: unset;
  }
  .playReel {
    transform: none;
    width: 100px !important;
    height: 100px !important;
  }
  .playReel h2 {
    font-size: 10px;
  }
  .hero .container > div {
    flex: 1 1 100%;
  }
  .videoPlayReel {
    background-image: none;
  }
  .hero .heroContent {
    /* background-image: url('../public/assets/Banner_new.gif'); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* height: 450px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .hero .container {
    text-align: center;
    flex-wrap: wrap;
    max-width: 96%;
  }
  .hero {
    padding: 0;
    margin-bottom: 0;
    min-height: 0;
    margin-top: 2em;
  }
  .hero .heroContent h1 {
    font-size: 2em;
    margin-bottom: 0.6rem;
  }
  .hero .heroContent p {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 1em;
  }

  .button_Wrapper {
    justify-content: center;
  }
  .hero .container > div {
    /* min-height: 400px; */
  }
  .modal {
    width: 95%;
  }
  .contactus_videoPlay {
    min-height: 0;
  }
}
@media (min-width: 801px) and (max-width: 1440px) {
  .hero .container {
    min-height: 400px;
    flex-wrap: wrap;
  }
  .hero {
    min-height: 400px;
    margin-top: 2em;
  }
  .hero .heroContent h1 {
    font-size: 3.2em;
    margin-bottom: 0.6rem;
  }
  .hero .heroContent p {
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 1em;
  }
  .hero .container > div {
    min-height: 275px;
  }
}
@media (max-width: 1440px) {
  .playReel {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 375px) {
  .videoPlayReel {
    margin-top: 1em;
  }
}
