.stoke_h1 {
  font-size: 180px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-text-stroke: 3px rgba(213, 255, 64, 0.3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Monument Extended Regular';
}
.font_vw {
  font-size: 9.65vw;
}

.ScrollingHeadings {
  overflow: hidden;
  padding: 100px 0 100px 0;
}
.headingScroll {
  display: flex;
  gap: 30px;
  transform: translate(8%);
  transition: all 0.4s ease;
  margin-left: -8%;
}
.heading {
  justify-content: center;
  transition: 0.8s;
  display: flex;
  align-items: center;
}
.list a ul {
  text-decoration: none;
  color: #00f3f4;
}
.ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .ul:hover {
border: 2px solid #00f3f4;
} */
.ul li {
  list-style: none;
  float: left;
  text-transform: uppercase;
  font-size: 70px;
  color: #00f3f4;
  font-family: 'Monument Extended Regular';
  transition: 0.8s;
}
.ul a {
  display: flex;
  align-items: center;
}
.ul li img {
  width: 50px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.ul:hover li {
  transform: rotateY(360deg);
}

@media screen and (max-width: 1280px) {
  .stoke_h1 {
    font-size: 7em;
  }
  .headingArrowScroll {
    margin-left: 2%;
  }
  .ScrollingHeadings {
    margin: 4em 0;
    padding: 0;
  }
  .ul li {
    font-size: 3em;
  }
  .ul li img {
    width: 35px;
  }
}

@media (min-width: 801px) {
  .headingScroll.second {
    transform: translate(-8%);
    margin-left: -8%;
  }
  .ScrollingHeadings:hover .headingScroll {
    transform: translate(-8%);
  }
  .ScrollingHeadings:hover .headingScroll.second {
    transform: translate(8%);
  }
}

@media (max-width: 800px) {
  .ScrollingHeadings {
    margin: 0;
    padding: 0;
  }
  .stoke_h1 {
    font-size: 4em;
    -webkit-text-stroke: 1px rgba(213, 255, 64, 0.3);
  }
  .font_vw {
    font-size: 20vw;
  }
  .ScrollingHeadings .hScroll:first-child {
    display: none;
  }
  .ul li {
    font-size: 2.5em;
  }
  .ul li img {
    width: 30px;
    margin-left: 5px;
  }
}
@media (max-width: 580px) {
  .ul li {
    font-size: 2em;
  }
  .ul li img {
    width: 25px;
  }
}
@media (max-width: 440px) {
  .ul li {
    font-size: 1.5em;
  }
  .ul li img {
    width: 20px;
    margin-left: 0px;
  }
}
@media (max-width: 440px) {
  .ul li img {
    display: none;
  }
}
