.brands {
 background-color: #000;
 padding: 200px 0 0 0;
}
.container_2{
 margin-top: -50px;
}

.iconScroll {
 overflow: hidden;
}
.iconScroll:hover .icons {
 transform: translate(0px);
}
.icons {
 width: 110%;
 transform: translate(-150px);
 display: flex;
 gap: 30px;
 transition: all 0.4s ease;
}

.icons .svg {
 overflow: hidden;
 display: flex;
 /* min-height: 255px; */
 width: 50%;
 /* padding: 30px; */
 align-items: center;
 justify-content: center;
 background-color: #171717;
}

.icons .svg img {
 /* width: min(280px, 80%);
 margin: auto;
 object-fit: cover; */
 object-fit: contain;
}
.filter_icon .svg img {
 filter: invert(1);
}
.filter_icon .svg {
 background-color: #fff;
}

.icons.filter_icon {
 margin-top: 30px;
 margin-left: -150px;
 transform: translate(150px);
}

@media screen and (max-width: 1048px) {
 .icons .svg {
  min-height: 180px !important;
 }
 .icons .svg img {
  object-fit: contain;
  width: 50%;
  height: 50%;
 }
 .icons {
 gap: 20px;
 }
}

