.webPackage {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .webpackages_section_content_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
    margin-top: -50px;
   }
   .webpackages_section_content_heading h1 {
    color: #00f3f4;
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Monument Extended Regular';
   }
   .webpackages_section_content_heading h1 span {
    color: #9add3a;
   }
   .package_section_content_para {
    margin-top: 2em;
    text-align: center;
   }
   .package_section_content_para p {
    font-size: 24px;
   }
   
   .wrapper {
    max-width: 85%;
    margin: 0 auto;
   }
   .packagesCards {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
   }
   .packagesCards .card {
    position: relative;
    width: 32%;
    background-color: rgba(23, 23, 23, 1);
    border-radius: 21px;
    padding: 40px 30px;
    transform: translateY(17px);
       transition: all .5s ease;
   }
   .packagesCards .card:hover {
       box-shadow: 15px 18px 32px rgba(213, 255, 64, 0.3);
       -webkit-transform: translateY(-17px);
       transform: translateY(-17px);
       transition: all .5s ease;
   }
   .packagesCards .card .packagetitle h2 {
    color: #9add3a;
    width: 80%;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Monument Extended Regular';
   }
   
   .packagePrice {
    display: flex;
    gap: 15px;
   }
   .packagePrice h4 {
    color: #ffffff;
    font-size: 46px;
    font-weight: 600;
   }
   .packagePrice p {
    color: #9add3a;
    text-decoration: line-through;
    font-size: 30px;
    font-weight: 600;
   }
   
   .packageListing {
    border-top: 2px solid #9add3a;
    border-bottom: 1px solid #9add3a;
    padding: 25px 0 25px 0;
    margin: 25px 0 30px 0;
   }
   .packageListing ul {
    margin: 0;
    padding: 0;
   }
   .packageListing ul li {
    margin-left: -15px;
    list-style: none;
    color: #fff;
    font-size: 18px;
    line-height: 1rem;
    font-weight: 600;
    align-items: center;
    display: flex;
    line-height: 20px;
   }
   .packageListing ul li::before {
    content: url('../public/assets/check-png.png');
    transform: scale(0.35);
    vertical-align: middle;
    display: inline-block;
   }
   .packagecontact {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .packagecontact .chatNow a {
    color: #00f3f4;
    font-size: 22px;
    text-transform: uppercase;
   }
   .packagecontact h3 {
    text-transform: uppercase;
    font-size: 22px;
    color: #9add3a;
    line-height: 34px;
    font-family: 'Monument Extended Regular';
   }
   .packagecontact a {
    font-size: 25px;
    color: #fff;
    line-height: 30px;
    font-family: 'Monument Extended Regular';
    text-decoration: none;
   }
   .packagecontact {
    margin: 30px 0px 30px 0;
   }
   
   .packagesCards .packagebtn {
    display: flex;
    width: 100% !important;
    justify-content: center;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
   }
   
   .packageListing {
    height: 275px;
    overflow-y: scroll;
   }
   
   .packageListing::-webkit-scrollbar {
    width: 4px;
   }
   
   .packageListing::-webkit-scrollbar-thumb {
    background-color: #00f3f4;
    border-radius: 5px;
   }
   
   .packageListing::-webkit-scrollbar-track {
    background-color: #2f2f2f;
    border-radius: 5px;
   }
   
   .packageListing::-webkit-scrollbar-button {
    background-color: #171717;
    border-radius: 5px;
   }
   .packageListing::-webkit-scrollbar-button:hover {
       background-color: #555;
   }
   .websitepackagescard_wrapper{
       max-width: 85%;
   }
   /* OrderForm */
   .modal {
       width: 75%;
       padding: 50px;
       border: 2px solid #9add3a;
       border-radius: 30px !important;
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       z-index: 9999;
       background-color: #000000;
       padding: 20px;
       border-radius: 5px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     }
     .modal_close {
       display: flex;
       align-items: center;
       justify-content: right;
     }
     
   @media (max-width: 1440px) {
       .packagetitle h2{
           font-size: 1.5em !important;
       }
       .packagePrice h4 {
       font-size: 2em;
       }
       .packagePrice p {
       font-size: 1.5em;
       }
       .packageListing ul li {
           font-size: 1em;
       }
       .packagecontact h3 {
           font-size: 1.5em;
       }
       .packagecontact a {
           font-size: 1.5em;
       }
       /* .packagebtn button {
       font-size: 14px !important;
       } */
   }
   
   @media (max-width: 1048px) {
       .wrapper {
           max-width: 96%;
       }
   }
   @media (max-width: 800px) {
    .modal_close img{
        width: 30px;
        }
       .modal{
           width: 95%;
           padding: 5px !important;
       }
       .card{
           margin-bottom: 2em;
       }
      .Heading_main_heading h1{
          font-size:2em;
      }
      .packagesCards{
        padding-bottom: 1em;
      }
      .packagesCards .card:hover {
        box-shadow: none;
        -webkit-transform: none;
        transform: none;
        transition: none;
      }
     .packagetitle h2{
      font-size:1.4em !important;
     }
      .card {
       min-width:100%;
      }
     
      h4.salePrice {
       font-size:1.6em;
      }
     
      p.regularPrice {
       font-size:1.5em;
      }
     
      .packageListing li{
       font-size:1.1em !important;
      }
     
     .speakWithUS h3  {
      font-size:1em;
      line-height:24px;
     }
      
     .speakWithUS a  {
      font-size:1em;
      line-height:24px;
     }
      
     .chatNow a{
      font-size:1.2em !important;
      line-height:30px;
     }
     
     .packagesCards {
       margin-top: 4em;
      flex-wrap:nowrap;
      gap: 1em;
      overflow-x:auto;
      overflow-y:hidden;
     }
     
         .packagesCards::-webkit-scrollbar{
             height: 6px;
             background: transparent;
             margin-top: 20px;
   
         }
         .packagesCards::-webkit-scrollbar-thumb{
             background: #D5FF40;
             border-radius: 10px;
   
         }
      
     }